services:
  fir-ocr:
    build:
      context: .
      dockerfile: Dockerfile.headless
    volumes:
      - ./sample_output:/app/sample_output
      - ./sample_pictures:/app/sample_pictures
    ports:
      - "5000:5000"
    restart: always
    environment:
      # These flags tell the NVIDIA driver to expose the GPU to Chromium
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,graphics,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]