services:
  fir-ocr:
    runtime: nvidia
    shm_size: "1gb"
    build:
      context: .
      dockerfile: Dockerfile.headless
    volumes:
      - ./sample_output:/app/sample_output
      - ./sample_pictures:/app/sample_pictures
    ports:
      - "5000:5000"
    restart: always
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,graphics,utility

